{% extends 'base.html' %}

{% block title %}Order Management{% endblock %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Managemet
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports/">Reports</a>
        </li>
      </ul>
  </nav>

{% endblock %}


{% block body %}

<h1>Order Quantity</h1>
<form>
    {% csrf_token %}
    <input type="number" name="quantity" required>
    <input type="submit">
</form>    

<br><br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Order №</th>
        <th>Product Name</th>
        <th>Product Price (UAH)</th>
        <th>Product Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for data in list %}
      <tr class="table-default">
        <th>{{data.0}}</th> 
        <th>Product-{{data.1}}</th>
        <th>{{data.2}}</th> 
        <th>{{data.3}}</th> 
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}